<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
<meta charset="utf-8">
<title>MilPoint</title>
</head>

<body>
	<div class="content-wrapper" layout:fragment="corpo">
	
		<div class="panel panel-default">
				<strong style="color: red;"><b>GUIA DA API</b></strong>
				<label> | URL PRINCIPAL: </label><a href="@{https://milkpointapi.herokuapp.com/api}"> https://milkpointapi.herokuapp.com/api</a>
				<p></p>
		
				<div class="panel-heading" style="align-items: center;">
					<strong><b>PRODUTOR</b></strong>
				</div>
	
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-sm table-striped table-hover table-bordered">
							<thead>
								<tr class="text-center">
									<th>COMANDO</th>
									<th>URL</th>
									<th>MÉTODO</th>
									<th>ENVIO</th>
									<th>RETORNO</th>
								</tr>
							</thead>
							<tbody>
								<tr class="text-center">
									<td>Adicionar</td>
									<td>/produtor</td>
									<td>POST</td>
									<td>Produtor</td>
									<td>Produtor</td>		      
								</tr>
								<tr class="text-center">
									<td>Alterar</td>
									<td>/produtor/{id}</td>
									<td>PUT</td>
									<td>Produtor</td>
									<td>Produtor</td>		      
								</tr>
								<tr class="text-center">
									<td>Remover</td>
									<td>/produtor/{id}</td>
									<td>DELETE</td>
									<td></td>
									<td>void</td>		      
								</tr>
								<tr class="text-center">
									<td>Consultar Lista</td>
									<td>/produtor</td>
									<td>GET</td>
									<td></td>
									<td>List &ltProdutor&gt</td>		      
								</tr>
								<tr class="text-center">
									<td>Consultar</td>
									<td>/produtor/{id}</td>
									<td>GET</td>
									<td></td>
									<td>Produtor</td>		      
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- Fim da tabela Produtor -->
				
				<div class="panel-heading" style="align-items: center;">
					<strong><b>LATICÍNIO</b></strong>
				</div>
	
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-sm table-striped table-hover table-bordered">
							<thead>
								<tr class="text-center">
									<th>COMANDO</th>
									<th>URL</th>
									<th>MÉTODO</th>
									<th>ENVIO</th>
									<th>RETORNO</th>
								</tr>
							</thead>
							<tbody>
								<tr class="text-center">
									<td>Adicionar</td>
									<td>/laticinio</td>
									<td>POST</td>
									<td>Laticinio</td>
									<td>Laticinio</td>		      
								</tr>
								<tr class="text-center">
									<td>Alterar</td>
									<td>/laticinio/{id}</td>
									<td>PUT</td>
									<td>Laticinio</td>
									<td>Laticinio</td>		      
								</tr>
								<tr class="text-center">
									<td>Remover</td>
									<td>/laticinio/{id}</td>
									<td>DELETE</td>
									<td></td>
									<td>void</td>		      
								</tr>
								<tr class="text-center">
									<td>Consultar Lista</td>
									<td>/laticinio</td>
									<td>GET</td>
									<td></td>
									<td>List &ltLaticinio&gt</td>		      
								</tr>
								<tr class="text-center">
									<td>Consultar</td>
									<td>/laticinio/{id}</td>
									<td>GET</td>
									<td></td>
									<td>Laticinio</td>		      
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
				<!-- Fim da tabela Laticionio -->
				
				<div class="panel-heading" style="align-items: center;">
					<strong><b>RESPONSÁVEL</b></strong>
				</div>
	
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-sm table-striped table-hover table-bordered">
							<thead>
								<tr class="text-center">
									<th>COMANDO</th>
									<th>URL</th>
									<th>MÉTODO</th>
									<th>ENVIO</th>
									<th>RETORNO</th>
								</tr>
							</thead>
							<tbody>
								<tr class="text-center">
									<td>Adicionar</td>
									<td>/responsavel</td>
									<td>POST</td>
									<td>Responsavel</td>
									<td>Responsavel</td>		      
								</tr>
								<tr class="text-center">
									<td>Alterar</td>
									<td>/responsavel/{id}</td>
									<td>PUT</td>
									<td>Responsavel</td>
									<td>Responsavel</td>		      
								</tr>
								<tr class="text-center">
									<td>Remover</td>
									<td>/responsavel/{id}</td>
									<td>DELETE</td>
									<td></td>
									<td>void</td>		      
								</tr>
								<tr class="text-center">
									<td>Consultar Lista</td>
									<td>/responsavel</td>
									<td>GET</td>
									<td></td>
									<td>List &ltResponsavel&gt</td>		      
								</tr>
								<tr class="text-center">
									<td>Consultar</td>
									<td>/responsavel/{id}</td>
									<td>GET</td>
									<td></td>
									<td>Responsavel</td>		      
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
				<!-- Fim da tabela Responsável -->
				
				<div class="panel-heading" style="align-items: center;">
					<strong><b>TANQUE</b></strong>
				</div>
	
					<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-sm table-striped table-hover table-bordered">
							<thead>
								<tr class="text-center">
									<th>COMANDO</th>
									<th>URL</th>
									<th>MÉTODO</th>
									<th>ENVIO</th>
									<th>RETORNO</th>
								</tr>
							</thead>
							<tbody>
								<tr class="text-center">
									<td>Adicionar</td>
									<td>/tanque</td>
									<td>POST</td>
									<td>Tanque</td>
									<td>Tanque</td>		      
								</tr>
								<tr class="text-center">
									<td>Alterar</td>
									<td>/tanque/{id}</td>
									<td>PUT</td>
									<td>Tanque</td>
									<td>Tanque</td>		      
								</tr>
								<tr class="text-center">
									<td>Remover</td>
									<td>/tanque/{id}</td>
									<td>DELETE</td>
									<td></td>
									<td>void</td>		      
								</tr>
								<tr class="text-center">
									<td>Consultar Lista</td>
									<td>/tanque</td>
									<td>GET</td>
									<td></td>
									<td>List &ltTanque&gt</td>		      
								</tr>
								<tr class="text-center">
									<td>Consultar</td>
									<td>/tanque/{id}</td>
									<td>GET</td>
									<td></td>
									<td>Tanque</td>		      
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
				<!-- Fim da tabela Tanque -->
				
				<div class="panel-heading" style="align-items: center;">
					<strong><b>DEPOSITO</b></strong>
				</div>
	
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-sm table-striped table-hover table-bordered">
							<thead>
								<tr class="text-center">
									<th>COMANDO</th>
									<th>URL</th>
									<th>MÉTODO</th>
									<th>ENVIO</th>
									<th>RETORNO</th>
								</tr>
							</thead>
							<tbody>
								<tr class="text-center">
									<td>Adicionar</td>
									<td>/deposito</td>
									<td>POST</td>
									<td>Deposito</td>
									<td>Deposito</td>		      
								</tr>
								<tr class="text-center">
									<td>Confirmar</td>
									<td>/deposito/confirmacao</td>
									<td>POST</td>
									<td>confirmacao</td>
									<td>1</td>		      
								</tr>
								<tr class="text-center">
									<td>Cancelar</td>
									<td>/deposito/confirmacao</td>
									<td>POST</td>
									<td>confirmacao</td>
									<td>0</td>		      
								</tr>
								<tr class="text-center">
									<td>Consultar Lista</td>
									<td>/deposito/listatodos</td>
									<td>GET</td>
									<td></td>
									<td>List &ltDeposito&gt</td>		      
								</tr>
								<tr class="text-center">
									<td>Consultar Pendentes</td>
									<td>/deposito/listapendentes</td>
									<td>GET</td>
									<td></td>
									<td>List &ltDeposito&gt *</td>		      
								</tr>
							</tbody>
						</table>
						<p style="font-size: 13px">* Retorna uma lista apenas com os depositos pendentes de confirmação</p>
					</div>
				</div>
				
				<!-- Fim da tabela Deposito -->
				
				<div class="panel-heading" style="align-items: center;">
					<strong><b>RETIRADA</b></strong>
				</div>
	
					<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-sm table-striped table-hover table-bordered">
							<thead>
								<tr class="text-center">
									<th>COMANDO</th>
									<th>URL</th>
									<th>MÉTODO</th>
									<th>ENVIO</th>
									<th>RETORNO</th>
								</tr>
							</thead>
							<tbody>
								<tr class="text-center">
									<td>Retirar</td>
									<td>/retirada</td>
									<td>POST</td>
									<td>Retirada</td>
									<td>Retirada</td>		      
								</tr>
								<tr class="text-center">
									<td>Confirmar</td>
									<td>/retirada/confirmacao</td>
									<td>POST</td>
									<td>confirmacao</td>
									<td>1</td>		      
								</tr>
								<tr class="text-center">
									<td>Cancelar</td>
									<td>/retirada/confirmacao</td>
									<td>POST</td>
									<td>confirmacao</td>
									<td>0</td>		      
								</tr>
								<tr class="text-center">
									<td>Consultar Lista</td>
									<td>/retirada/listatodos</td>
									<td>GET</td>
									<td></td>
									<td>List &ltRetirada&gt</td>		      
								</tr>
								<tr class="text-center">
									<td>Consultar Pendentes</td>
									<td>/retirada/listapendentes</td>
									<td>GET</td>
									<td></td>
									<td>List &ltRetirada&gt **</td>		      
								</tr>
							</tbody>
						</table>
						<p style="font-size: 13px">** Retorna uma lista apenas com os depositos pendentes de confirmação</p>
					</div>
				</div>
				
				<!-- Fim da tabela Retirada -->
				
				<!-- Fim das tabelas -->
			</div>
			
		<!-- Fim do corpo principal  -->	
	</div>
	
	
</body>

</html>

